body{
	font-family: 'Raleway', sans-serif;
	background: white;
	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

a{
	text-decoration: none;
	color: white;
}
.menucont{
	background: #FF3864;
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	font-style: bold;
	color: white;
}

.main-menu{
	position: relative;
	left: 1%;
	top: -3%;
	border: 0px solid black;
	font-size: 20px;
}

.cont{
	position: absolute;
	left: 4%;
	top: 25%;
	text-align: left;
	height: 60%;
	width: 100%;
}

.vectorimg{
	position: relative;
	left: 3%;
	top: 21%;
	height: 480px;
}

.about{
	position: absolute;
	left: 55%;
	top: 30%;
}
.uiux{
	position: relative;
	left:0%;
	top: 10%;
	color: gray;
	size: 10px;
}
.about p{
	position: relative;
	top: 20%;
}

.about .uname{
	font-size: 80px;
	color: #0A2463;
}

.knowmore{
		position: relative;
		left: 55%;
		top: 90%;
		height: 80px;
		width: 500px;
		background: #FF3864;
		border-radius: 60px;
		padding: 12px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 20px;
		color: white;
}

.contcont{
	position: absolute;
	left: 15%;
	top: 70%;
	font-size: 20px;
}

.cvector{
	position: absolute;
	left: 50%;
	top: 28%;
	height: 400px;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  border-radius: 200px;
  text-decoration: none;
}


.fa-facebook {
  background: #000000;
  color: white;
}

.fa-facebook:hover {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #000000;
  color: white;
}

.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #000000;
  color: white;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #000000;
  color: white;
}

.fa-instagram:hover {
  background: #125688;
  color: white;
}

.cms{
	position: absolute;
	left: 30%;
	top: 47%;
	font-size: 80px;
	opacity: 0.5;
}

.post{
	
	float:left;
	border:2px solid gray;
	border-radius: 10px;
	padding: 2px;
	margin: 10px;
	width: 600px;
}

.fimg{
	float: left;
	height: 100px;
	width: 130px;
	padding-top: 10px;
	border:0;
	border-radius: 10px;
	padding: 0px;
}

.content{
	background: white;
	height: 100px;
	padding: 10px;
	border:0;
	border-radius: 10px;
	
}

/* Login form*/

.loginform{
				display: flex;
				flex-direction: column;
				justify-content: left;
				width: 65%;
				left: 15%;
				position: relative;
				top: 33%;
				color: white;
				font-size: 22px;
			}
			
			input{
				height: 35px;
				border-radius: 50px;
				background: transparent;
				border: 1px solid gray;
				color: black;
				font-size: 18px;
				padding: 10px;
				
			}
			
			.submitbutton{
				background: #FF3864;
				border: 0;
				color: white;
				height: 45px;
				width: 150px;
				border-radius: 80px;
				}
				
			.submitbutton:hover{
				background:#0002ac;	
				}
				